

/* Adobe fonts import */
@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');
/* 
Menu – Goldman
Header – Goldman
Text – Roboto Flex
Logo Text – Honk
*/


/* CSS Variables */
:root {
    /* Font */
    --font-logomenuheading: "Goldman", serif;
    --font-textbody: "Roboto Flex", serif;
    /* Color Font */
    --bodytext-color: #393e42;
    --menufootertext-color: #ffffff;
    /* background Color */
    --boxbackground-color: rgb(200, 201, 204, .8); /* #c8c9cc grey */
    --menufooterbackground-color:#1a4b82; /* dark blue */
    }

/* Global styles */
body {
    height: 100%;
    width: 100%;
    background: url("../images/drone-background.jpg") no-repeat center center/cover;
    background-color: #eef1f3;
    position: relative;
}

/* Logo Text*/
.logotext {
    font-family: var(--font-logomenuheading);
    font-weight: 700;
    font-size: 1.5rem;
}

#navbar .navbar-brand {
    color:#EAD615;
}

.navbar-brand a:hover{
    color: initial; /* Takes initial value of the property which is black in this case */
}

/* Menu Text*/
.menutext {
    font-family: var(--font-logomenuheading);
    font-weight: 400;
    font-size: 1.2rem;
}

/* Heading Text*/

.headingtext {
    font-family: var(--font-logomenuheading);
    font-weight: 700;
}

.sub-heading {
    color: #000000;
    font-family: var(--font-textbody);
    font-weight: 700;
    font-style: italic;
    font-size: x-large;
}

.boxbackgroundcolor {
    background-color: var(--boxbackground-color);
}

.spacingsection {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

h1,
h2 {
    text-transform: uppercase;
}

h1 {
    color: #1a4b82
}




/* Navbar */
#navbar {
    background-color: var(--menufooterbackground-color);
    font: var();
}

/* Footer */

#contact {
    background-color: var(--menufooterbackground-color);
    color: var(--menufootertext-color);
    padding-bottom: 1rem;
}

#contact i {
    color: var(--menufootertext-color);
    font-size: 4rem;
}

#contact .social-links i {
    color: var(--menufootertext-color);
}

#contact .social-links i:hover {
    color: #EAD615;
}

#contact .extralinks a {
    color: var(--menufootertext-color);
}

#contact .extralinks a:hover {
    color: #EAD615;
}


/* grid visualisation CSS for testing */
/*.container,
.row {
    border: 2px solid black;
}

.col-12 {
    border: 2px solid white;
    background-color: lightgray;
}*/